@page "/favorites"
@rendermode InteractiveServer
@using WeatherApp.WebUI.Services
@using WeatherApp.WebUI.DTOs
@inject IFavoritesService FavoritesService

<PageTitle>Favorites</PageTitle>

<h1>Favorites</h1>

@if(favorites != null) 
{
    @foreach (var favorite in favorites)
    {
        <p>@favorite.CityName</p>
        <p>@favorite.CityId</p>

        @* TODO Add current weather for city. *@
        <p>Current Weather</p>
    }
}

@code {
    private FavoriteCityDTO[]? favorites;

    protected override async Task OnInitializedAsync()
    {
        favorites = await FavoritesService.GetFavorites();
    }
}