@page "/favorites"
@rendermode InteractiveServer
@using WeatherApp.WebUI.Services
@using WeatherApp.WebUI.DTOs
@using WeatherApp.WebUI.Components.NonPages
@inject IFavoritesService FavoritesService
@inject IWeatherService WeatherService

<PageTitle>Favorites</PageTitle>

<h1>Favorites</h1>

@if (favoritesWeather != null)
{
    @foreach (var (favorite, currentWeather) in favoritesWeather)
    {
        <h3>@favorite.CityName</h3>
        <a href="/weather/@favorite.CityName/@favorite.CityId">Click here for details.</a>
        <CurrentWeather WeatherDescription="@currentWeather" />
    }
}

@code {
    private List<(FavoriteCityDTO, WeatherDescriptionDTO?)> favoritesWeather 
        = new List<(FavoriteCityDTO, WeatherDescriptionDTO?)>();

    protected override async Task OnInitializedAsync()
    {
        var favorites = await FavoritesService.GetFavorites();

        foreach(var favorite in favorites)
        {
            var currentWeather = await WeatherService.GetCurrentWeatherByCityId(favorite.CityId);
            favoritesWeather.Add((favorite, currentWeather.Current));
        }
    }
}