@page "/"
@rendermode InteractiveServer
@* @attribute [StreamRendering] *@
@using WeatherApp.WebUI.Services
@using WeatherApp.WebUI.Models
@inject IWeatherService WeatherService

<PageTitle>Home</PageTitle>

<h1>City Search</h1>

<input type="text" @bind="searchTerm" />
<button class="btn btn-primary" @onclick="SearchWeatherForCityAsync">Search</button>

@if (cities == null)
{
    <p><em>Please search for city.</em></p>
}
else
{
    <p><em>Showing search results for @searchTerm</em></p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private City[]? cities;

    private string searchTerm = "";
    
    private async Task SearchWeatherForCityAsync()
    {
        // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/event-handling
        cities = await WeatherService.SearchCities(@searchTerm);
    }
}