@page "/"
@rendermode InteractiveServer
@using WeatherApp.WebUI.Services
@using WeatherApp.WebUI.Models
@using WeatherApp.WebUI.Components.Lists
@inject IWeatherService WeatherService

<PageTitle>Home</PageTitle>

<h1>City Search</h1>

<form @onsubmit="SearchWeatherForCityAsync">
    <input type="text" @bind="searchTerm" autofocus />
    <button>Search</button>
</form>

<CityList Cities="@cities"/>

@code {
    private WeatherLocation[]? cities;

    private string searchTerm = "";
    
    private async Task SearchWeatherForCityAsync()
    {
        cities = await WeatherService.SearchCities(@searchTerm);
    }
}