@using WeatherApp.WebUI.Models

@if (Cities == null)
{
    <p><em>Please search for city.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in Cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public City[] Cities { get; set; }
}
