@inherits TestContext
@using WeatherApp.WebUI.Components.Pages

@code {
    [Fact]
	public void HeaderContent_Always_ContainsExpectedText()
	{
		// Arrange
		var cut = Render(@<Home />);

        // Assert
		cut.Find("h1").MarkupMatches(@<h1>City List</h1>);
	}
}
