@rendermode InteractiveServer
@using WeatherApp.WebUI.DTOs
@using WeatherApp.WebUI.Services
@inject IFavoritesService FavoritesService

@if(IsFavorite) {
    <button @onclick="RemoveFromFavorites">Remove from Favorites</button>
} else {
    <button @onclick="AddToFavorites">Add to Favorites</button>
}

@code {
    [Parameter]
    public required string CityName {get; set;}

    [Parameter]
    public required int CityId {get; set;}

    @* TODO Populate this programmatically from the database. *@
    private bool IsFavorite = false;

    protected override async Task OnInitializedAsync()
    {
        IsFavorite = await FavoritesService.IsFavorite(CityId);
    }

    private async Task AddToFavorites()
    {
        await FavoritesService.AddFavorite(CityId, CityName);
        IsFavorite = true;
    }

    private async Task RemoveFromFavorites()
    {
        await FavoritesService.RemoveFavorite(CityId);
        IsFavorite = false;
    }
}